body{
	text-align: center;
	     font-family: georgia, serif;
	     font-variant: small-caps;

background-image: url(chat3.jpg);
}

table{
	background-image: url(chat.jpg);
	font-family: times new roman;
	background-position: center;
	background-size: cover;

}

tr:nth-child(even) td{

	color: purple;
}

p{ font-weight: bold;
    font-variant: small-caps;
	 }

[class^="x"]{

  font-weight: bold;

}

li
{
	text-align: center;
	margin: 0 auto;
}